@model IEatHealthy.Models.Recipe;
@using System;
@using System.IO;
@using Microsoft.AspNetCore.Mvc;
@using IEatHealthy.Models;
@using MongoDB.Bson;
@using MongoDB.Driver;
@using Microsoft.AspNetCore.Http;
@using System.Web;

@{
    ViewData["Title"] = "Add a Recipe";
}


<html>
    <head>
        <title> Add a Recipe </title>
        <script src="@Url.Content("/js/recipeFormJS.js")"></script>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/bootstrap/bootstrap.css")" media="screen"/>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/recipeFormStyles.css")" media="screen" />

    </head>
    <body>
        <div class="jumbotron text-center"> 
            <container> 
                <h1>Add A Recipe</h1>
            </container>
        </div>

        <form method="post" asp-controller="Recipe" enctype="multipart/form-data">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Name
                </div>
                <div class="panel-body">
                    @Html.TextBox("name", null, new{ @class = "form-control form-group", placeholder ="Name of Recipe"})
                </div> 
                <div class="panel-heading">
                    Author
                </div>
                <div class="panel-body">
                    @Html.TextBox("author", null, new{ @class="form-control form-group", placeholder="Name of Author"})
                </div>
                <div class="panel-heading">
                    Description of meal
                </div>
                <div class="panel-body">
                    @Html.TextArea("description", null, new{ @class = "form-control form-group", placeholder ="Description of Meal"}) 
                </div>

                <div class="panel-heading">
                    Difficulty
                 </div>
                <div class="panel-body">
                    Easy @Html.RadioButton("Difficulty", DifficultyType.easy, true)
                    <br>
                    Intermediate  @Html.RadioButton("Difficulty", DifficultyType.intermediate, false)
                    <br>
                    Hard @Html.RadioButton("Difficulty", DifficultyType.hard, false)
                    <br>
                </div>
                <div class="panel-heading">
                    Servings
                </div>
                <div class="panel-body">
                    @Html.TextBox("servings", null, new{ @class = "form-control form-group", placeholder ="Number of Servings"})
                </div>
                <div class="panel-heading">
                    Time
                </div>
                <div class="panel-body">
                    Prep
                    <br>@Html.TextBox("prepTime", null, new{ @class = "form-control form-group", placeholder ="Minutes to Completion"})
                    Cook
                    <br>@Html.TextBox("cookTime", null, new{ @class = "form-control form-group", placeholder ="Minutes to Completion"})
                    Ready In
                    <br>@Html.TextBox("readyInTime", null, new{ @class = "form-control form-group", placeholder ="Minutes to Completion"})
                </div>
                <div class="panel-heading">
                    Ingredients
                </div>
               <div class="panel-body">
                    <div id="ingredients[]">
                        <div class="container-fluid"> 
                            <div class="row form-group"> 
                                <div class="col-md-4">
                                    @Html.TextBox("ingredients[0].ingredientId", null, new{ @class = "form-control", placeholder ="IngredientId"})
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("ingredients[0].amount", null, new{ @class = "form-control", placeholder ="Amount"})
                                </div> 
                                <div class="col-md-4">
                                    @Html.TextBox("ingredients[0].unitOfMeasure", null, new{ @class = "form-control", placeholder ="Unit of Measure"})
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid"> 
                            <div class="row form-group"> 
                                <div class="col-md-4">
                                    @Html.TextBox("ingredients[1].ingredientId", null, new{ @class = "form-control", placeholder ="IngredientId"})
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBox("ingredients[1].amount", null, new{ @class = "form-control", placeholder ="Amount"})                                    
                                </div> 
                                <div class="col-md-4">
                                    @Html.TextBox("ingredients[1].unitOfMeasure", null, new{ @class = "form-control", placeholder ="Unit of Measure"})                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="button" class="btn form-group" value="Add Another Ingredient" onClick="addIngredient('ingredients[]');"><br>

                    <input type="text" class="form-control form-group" placeholder="Enter ONLY one word of ingredient to search (case insensitive)" name="textToFind" style="width: 50%;">
                    <div>
                        <button value="Search" class="btn form-group" asp-action="SearchIngredientId" asp-controller="Recipe">Search</button>
                    </div>
                    <div class="pre-scrollable"> 
                    @{
                        List<Ingredient> ingredientsFound = ViewData["ingredientsFound"] as List<Ingredient>;

                        for (int i = 0; i < 20 && i < ingredientsFound.Count; i++)
                        {
                            <div class="container-fluid">
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        @Html.TextBox("ingredientName", ingredientsFound[i].shrtDesc, new { @class="form-control form-group" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBox("id", ingredientsFound[i]._id, new { @class="form-control form-group" })
                                    </div>
                                </div>
                            </div> 
                        }
                    }
                    </div>
                </div>
                <div class="panel-heading">
                    Steps
                </div>
                <div class="panel-body">
                    <div id="steps[]">
                        @Html.TextArea("steps[0]", null, new{ @class = "form-control form-group", placeholder ="Step 1"})
                        @Html.TextArea("steps[1]", null, new{ @class = "form-control form-group", placeholder ="Step 2"})
                    </div>
                    <input type="button" class="btn form-group" value="Add Another Step" onClick="addStep('steps[]');"><br>

                </div>
                <div class="panel-heading">
                    Nutrition Facts (Per Serving)
                </div>
                <div class="panel-body">
                    @Html.TextBox("calories", null, new{ @class="form-control form-group", placeholder="Calories"})
                    @Html.TextBox("protein", null, new{ @class="form-control form-group", placeholder="Protein"})
                    @Html.TextBox("fat", null, new{ @class="form-control form-group", placeholder="Fat"})
                    @Html.TextBox("carbohydrate", null, new{ @class="form-control form-group", placeholder="Carbohydrates"})
                    @Html.TextBox("fiber", null, new{ @class="form-control form-group", placeholder="Fiber"})
                    @Html.TextBox("sugar", null, new{ @class="form-control form-group", placeholder="Sugar"})
                    @Html.TextBox("calcium", null, new{ @class="form-control form-group", placeholder="Calcium"})
                    @Html.TextBox("iron", null, new{ @class="form-control form-group", placeholder="Iron"})
                    @Html.TextBox("potassium", null, new{ @class="form-control form-group", placeholder="Potassium"})
                    @Html.TextBox("sodium", null, new{ @class="form-control form-group", placeholder="Sodium"})
                    @Html.TextBox("vitaminC", null, new{ @class="form-control form-group", placeholder="Vitamin C"})
                    @Html.TextBox("vitAiu", null, new{ @class="form-control form-group", placeholder="Vitamin A in IU"})
                    @Html.TextBox("vitDiu", null, new{ @class="form-control form-group", placeholder="Vitmain D in IU"})
                    @Html.TextBox("cholestrol", null, new{ @class="form-control form-group", placeholder="Cholesterol"})
                </div>
                <div class="panel-heading">
                    Image 
                </div>
                <div class="panel-body">
                    <input type="file" name="image" />
                </div>
                 <div class="panel-heading">
                    Special Tools Needed
                </div>
                <div class="panel-body">
                    <div id="tools[]">
                        @Html.TextBox("toolsNeeded", null, new{ @class="form-control form-group", placeholder="Tool"})
                    </div>
                    <input type="button" class="btn form-group" value="Add Another Tool" onClick="addInput('tools[]');"><br>
                </div>
            </div> 
            <div class="text-center">
                <button value="Submit Recipe" class="btn btn-lg" asp-action="Index" asp-controller="Recipe">Submit Recipe</button>
            </div> 
       </form>
    </body>
</html>
