@model IEatHealthy.Models.Ingredient;
@{
    ViewData["Title"] = "Add Ingredients";
}
<html>
    <head>
        <title> Add a Recipe </title>
        <script src="@Url.Content("/js/recipeFormJS.js")"></script>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/bootstrap/bootstrap.css")" media="screen"/>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/recipeFormStyles.css")" media="screen" />

    </head>
    <body>
        <div class="jumbotron text-center"> 
            <container> 
                <h1>Add Ingredients</h1>
            </container>
        </div>

        <form method="post" asp-action="Ingredients" asp-controller="Ingredients">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Ingredients
                </div>
               <div class="panel-body">
                   @Html.TextBox("nbdNo", null, new{ @class = "form-control form-group", placeholder ="NBD number"})
                   @Html.TextBox("shrtDesc", null, new{ @class = "form-control form-group", placeholder ="Short Description"})
                   @Html.TextBox("gmWt1", null, new{ @class = "form-control form-group", placeholder ="First household weight for this item"})
                   @Html.TextBox("gmWtDesc1", null, new{ @class = "form-control form-group", placeholder ="Description of household weight number 1"})
                   @Html.TextBox("gmWt2", null, new{ @class = "form-control form-group", placeholder ="Second household weight for this item"})
                   @Html.TextBox("gmWtDesc2", null, new{ @class = "form-control form-group", placeholder ="Description of household weight number 2"})
                   @Html.TextBox("calories", null, new{ @class = "form-control form-group", placeholder ="Calories"})
                   @Html.TextBox("protein", null, new{ @class = "form-control form-group", placeholder ="Protein"})
                   @Html.TextBox("fat", null, new{ @class = "form-control form-group", placeholder ="Fat"})
                   @Html.TextBox("carbohydate", null, new{ @class = "form-control form-group", placeholder ="Carbohydrate"})
                   @Html.TextBox("fiber", null, new{ @class = "form-control form-group", placeholder ="Fiber"})
                   @Html.TextBox("sugar", null, new{ @class = "form-control form-group", placeholder ="Sugar"})
                   @Html.TextBox("calcium", null, new{ @class = "form-control form-group", placeholder ="Calcium"})
                   @Html.TextBox("iron", null, new{ @class = "form-control form-group", placeholder ="Iron"})
                   @Html.TextBox("potassium", null, new{ @class = "form-control form-group", placeholder ="Potassium"})
                   @Html.TextBox("sodium", null, new{ @class = "form-control form-group", placeholder ="Sodium"})
                   @Html.TextBox("vitaminC", null, new{ @class = "form-control form-group", placeholder ="Vitamin C"})
                   @Html.TextBox("vitAiu", null, new{ @class = "form-control form-group", placeholder ="Vitamin A"})
                   @Html.TextBox("vitDiu", null, new{ @class = "form-control form-group", placeholder ="Vitamin D"})
                   @Html.TextBox("cholestrol", null, new{ @class = "form-control form-group", placeholder ="Cholesterol"})
                </div>
            </div>
            <div class="text-center">
                    <input type="submit" class="btn btn-lg" value="Submit Form">
            </div> 
       </form>
    </body>
</html>
