@model IEatHealthy.Models.Ingredient;
@{
    ViewData["Title"] = "Add Ingredients";
}
<html>
    <head>
        <title> Add a Recipe </title>
        <script src="@Url.Content("/js/recipeFormJS.js")"></script>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/lib/bootstrap/bootstrap.css")" media="screen"/>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/recipeFormStyles.css")" media="screen" />

    </head>
    <body>
        <div class="jumbotron text-center"> 
            <container> 
                <h1>Add Ingredients</h1>
            </container>
        </div>

        <form method="post" asp-action="Ingredients" asp-controller="Ingredients">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Ingredients
                </div>
               <div class="panel-body">
                   @Html.TextBox("NBD_No", null, new{ @class = "form-control form-group", placeholder ="NBD number"})
                   @Html.TextBox("Shrt_Desc", null, new{ @class = "form-control form-group", placeholder ="Short Description"})
                   @Html.TextBox("GmWt1", null, new{ @class = "form-control form-group", placeholder ="First household weight for this item"})
                   @Html.TextBox("GmWt_Desc1", null, new{ @class = "form-control form-group", placeholder ="Description of household weight number 1"})
                   @Html.TextBox("GmWt2", null, new{ @class = "form-control form-group", placeholder ="Second household weight for this item"})
                   @Html.TextBox("GmWt_Desc2", null, new{ @class = "form-control form-group", placeholder ="Description of household weight number 2"})
                   @Html.TextBox("Calories", null, new{ @class = "form-control form-group", placeholder ="Calories"})
                   @Html.TextBox("Protein", null, new{ @class = "form-control form-group", placeholder ="Protein"})
                   @Html.TextBox("Fat", null, new{ @class = "form-control form-group", placeholder ="Fat"})
                   @Html.TextBox("Carbohydate", null, new{ @class = "form-control form-group", placeholder ="Carbohydrate"})
                   @Html.TextBox("Fiber", null, new{ @class = "form-control form-group", placeholder ="Fiber"})
                   @Html.TextBox("Sugar", null, new{ @class = "form-control form-group", placeholder ="Sugar"})
                   @Html.TextBox("Calcium", null, new{ @class = "form-control form-group", placeholder ="Calcium"})
                   @Html.TextBox("Iron", null, new{ @class = "form-control form-group", placeholder ="Iron"})
                   @Html.TextBox("Potassium", null, new{ @class = "form-control form-group", placeholder ="Potassium"})
                   @Html.TextBox("Sodium", null, new{ @class = "form-control form-group", placeholder ="Sodium"})
                   @Html.TextBox("Vitamin_C", null, new{ @class = "form-control form-group", placeholder ="Vitamin C"})
                   @Html.TextBox("Vit_A_IU", null, new{ @class = "form-control form-group", placeholder ="Vitamin A"})
                   @Html.TextBox("Vit_D_IU", null, new{ @class = "form-control form-group", placeholder ="Vitamin D"})
                   @Html.TextBox("Cholestrol", null, new{ @class = "form-control form-group", placeholder ="Cholesterol"})
                </div>
            </div>
            <div class="text-center">
                    <input type="submit" class="btn btn-lg" value="Submit Form">
            </div> 
       </form>
    </body>
</html>
